/* ######## GLOBALES ######## */

body {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background: #f0f0fa;
}

body.desktop {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #0057ff;
}

a.quoted-link {
  font-style: italic;
}

ul {
  margin: 0;
}

/* ######## CONTAINER ######## */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.desktop .container {
  margin: 50px auto;

}

.box-shadow {
  box-shadow: 10px 10px 114px -53px rgba(0,0,0,0.75);
  margin: 0;
  padding: 50px;
  background: white;
}

.desktop .box-shadow {
  margin: 0 50px;
}

/* ######## MAIN ######## */

.main {
  position: relative;
}

h1 {
  font-weight: 500;
  margin: 0;
}

.role {
  font-size: 125%;
  margin: 0;
}

.location {
  margin: 5px 0;
}

img {
  display: none;
}

@media (min-width:641px) {
  .desktop h1 {
    margin-right: 150px;
    font-size: 400%;
  }
  .desktop img {
    display: inline-block;
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    border-radius: 2px;
  }
}

@media (min-width: 961px) {
  .desktop h1 {
    font-size: 520%;
  }
}

/* ######## SECTION GLOBALS ######## */



hr {
  margin: 50px 0 30px 0;
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.3);
}

hr.section-hr,
.desktop hr.section-hr {
  margin: 10px 0;
}

h2 {
  font-size: 120%
  font-weight: 500;
}

@media (min-width: 961px) {
  .desktop hr {
    margin: 30px 0 10px 0;
  }

  .desktop .section {
    position: relative;
    padding-left: 250px;
  }

  .desktop h2 {
    font-size: 80%;
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px 0 0 0;
  }
}


.section-item-title {
  font-weight: 500;
  font-size: 110%;
  margin: 0 0 5px 0;
}

.section-item-subtitle {
  font-size: 120%;
  margin: 0 0 5px 0;
}

.section-item-description {
  font-size: 95%;
  margin: 0 0 5px 0;
}

.section-item-ref {
  margin: 0 0 5px 0;
  color: #737373;
  font-size: 80%;
}
