$first-breakpoint: 700px;
$second-breakpoint: 961px;

$background-color: #fafafa;
$text-color: #444;
$dark-blue-link-color: hsl(219, 63%, 23%);
$light-blue-link-color: lighten($dark-blue-link-color, 20%);
$section-line-separator-color: #444;
$item-reference-color: #737373;
$item-line-separator-color: #ccc;

body {
  font-size: 30px;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  color: $text-color;
  background: $background-color;

  &.desktop {
    font-size: 16px;
  }
}


a {
  text-decoration: underline;
  color: $light-blue-link-color;
  .desktop & {
    color: $dark-blue-link-color;
    &:hover {
      color: $light-blue-link-color;
    }
  }

  &.quoted-link {
    font-style: italic;
  }
}


article {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  font-weight: 500;
  margin: 0;
  font-size: 300%;

  @media (min-width: $first-breakpoint) {
    .desktop & {
      font-size: 380%;
      margin-right: 150px;
    }
  }

  @media (min-width: $second-breakpoint) {
    .desktop & {
      font-size: 520%;
    }
  }
}

h2 {
  font-size: 130%;
  font-weight: 500;
  @media (min-width: $second-breakpoint) {
    .desktop & {
      font-size: 110%;
      width: 220px;
      position: absolute;
      top: 0;
      left: 0;
      margin: 2px 0 0 0;
    }
  }
}

h3 {
  font-weight: 500;
  font-size: 115%;
  margin: 0 0 5px 0;
}


p {
  margin: 5px 0;
  &.item-ref {
    color: $item-reference-color;
    font-size: 80%;
  }
}

img {
  display: none;

  @media (min-width: $first-breakpoint) {
    .desktop & {
      display: inline-block;
      position: absolute;
      height: 80%;
      right: 50px;
      top: 10%;
      border-radius: 50%;
    }
  }
  @media (min-width: $second-breakpoint) {
    .desktop & {
      right: 0;
    }
  }
}

section  {
  position: relative;

  padding: 0 50px 30px 50px;
  border-bottom: solid 1px $section-line-separator-color;
  margin: 0 0 20px 0;

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: $second-breakpoint) {
    padding: 0 0 30px 0;
    margin: 0 50px 20px 50px;

    .desktop & {
      padding-left: 250px;
    }
    .desktop &.main {
      padding-left: 0;
    }
  }
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    padding-bottom: 15px;
    border-bottom: solid 1px $item-line-separator-color;
    margin-bottom: 15px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0
    }
  }
}
