header, section {
    padding: 20px 0;
    border-bottom: solid 1px #777;
}

header {
    text-align: center;
}

header h1 {
    font-size: 36px;
    font-weight: 500;
}

header #role {
    font-size: 30px;
}

header #location {
    font-size: 18px;
}

header img {
    border-radius: 50%;
    margin: 0 auto 10px auto;
    max-width: 160px;
    display: block;
}

header a {
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
}