section {
    padding: 20px 0;
    border-bottom: solid 1px #777;
}

section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

section h3 {
    font-size: 17px;
}

section article:not(:last-child) {
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px), print {
    section {
        padding-left: 28%;
        position: relative;
    }

    section h2 {
        position: absolute;
        left: 0;
        top: 20px;
    }
}