@media (min-width: 768px), print {
    header, section {
        padding-left: 28%;
        position: relative;
    }

    header img, section h2 {
        position: absolute;
        left: 0;
        top: 20px;
    }

    header {
        text-align: left;
    }

    header img {
        height: 80%;
        max-width: none;
        top: 50%;
        transform: translateY(-50%);
    }

    header a {
        display: inline-block;
        margin: 0 20px 0 0;
    }
}